# ğŸ’» Exercises: Day 7
### Exercises: level 1

In [21]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# 1. Find the length of the set it_companies
it_companies_length = len(it_companies)
print('1. It companies length: ', it_companies_length)

# 2. Add 'Twitter' to it_companies
twitter_included = it_companies.add('Twitter')
print('2. twitter included: ', it_companies)

# 3. Insert multiple IT companies at once to the set it_companies
another_companies = ['Toshiba', 'LG', 'Dell']
it_companies.update(another_companies)
print('3. ', it_companies)

# 4. Remove one of the companies from the set it_companies
print('4. removed_company: ', it_companies.pop())

# 5. What is the difference between remove and discard
it_companies.remove('Apple') # return an error when found no item to remove
print('5a.', it_companies)

it_companies.discard('Facebook') #it does not return an error even if it did no find an item to remove
print('5b. ', it_companies)

1. It companies length:  7
2. twitter included:  {'Amazon', 'Apple', 'Microsoft', 'IBM', 'Google', 'Oracle', 'Twitter', 'Facebook'}
3.  {'IBM', 'Oracle', 'Dell', 'Amazon', 'Microsoft', 'Google', 'Toshiba', 'Twitter', 'Facebook', 'Apple', 'LG'}
4. removed_company:  IBM
5a. {'Oracle', 'Dell', 'Amazon', 'Microsoft', 'Google', 'Toshiba', 'Twitter', 'Facebook', 'LG'}
5b.  {'Oracle', 'Dell', 'Amazon', 'Microsoft', 'Google', 'Toshiba', 'Twitter', 'LG'}

### Exercises: level 2

In [32]:
# 1. Join A and B
C = A.union(B)
print('1. Union: ', C)

# 2. Find A intersection B
C = A.intersection(B)
print('2. Intersection: ', C)

# 3. Is A a subset of B
C = A.issubset(B)
print('3. Is A subset of B: ', C)

# 4. Are A and B disjoint sets
C = A.isdisjoint(B)
print('4. Is A a disjoint of B: ', C)
# 5. Join A with B and B with A
C = A.union(B)
D = A.union(B)
print(f'5. A A union B: {C} and \n B union A: {D}' )

# 6. What is the symmetric difference between A and B
C = A.symmetric_difference(B)
print('6. Symmetric difference between A and B is ', C)
# 7. Delete the sets completely
del A
del B

1. Union:  {19, 20, 22, 24, 25, 26, 27, 28}
2. Intersection:  {19, 20, 22, 24, 25, 26}
3. Is A subset of B:  True
4. Is A a disjoint of B:  False
5. A A union B: {19, 20, 22, 24, 25, 26, 27, 28} and
 B union A: {19, 20, 22, 24, 25, 26, 27, 28}
6. Symmetric difference between A and B is  {27, 28}

### Exercises: level 3

In [42]:
# 1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_set = set(age) 
if len(age) > len(age_set):
    print('Set of age:;', age_set)
    print('List of age:;', age)
    print('1. List of age is greater than set of age')
elif len(age) < len(age_set):
    print('2. Set of age is greater than list of age')
else:
    print('1. Set of age is equal to list of age')

# 2. Explain the difference between the following data types: string, list, tuple and set
print('2. Explain in below markdown')

# 3. I am a teacher and I love to inspire and teach people. 
# How many unique words have been used in the sentence? 
# Use the split methods and set to get the unique words.

sentence = 'I am a teacher and I love to inspire and teach people'
splited_sentence = sentence.split()
unique_words = set(splited_sentence)
print('3. Unique words are: ', unique_words)

Set of age:; {19, 22, 24, 25, 26}
List of age:; [22, 19, 24, 25, 26, 24, 25, 24]
1. List of age is greater than set of age
2. Explain in below markdown
3. Unique words are:  {'people', 'love', 'and', 'a', 'I', 'teach', 'am', 'to', 'teacher', 'inspire'}

# 2. Explain the difference between the following data types: string, list, tuple and set


### 1. String:

- A string is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (""" """).
- Strings are immutable, meaning their elements cannot be changed once created.
- They support various string-specific operations like concatenation (+), slicing ([]), and string methods for manipulation.
- Example: **my_string = 'ArewaDS'**

### 2. List:

- A list is an ordered and mutable collection of elements enclosed within square brackets [ ].
- Lists can contain elements of different data types and allow duplicates.
- They support various operations like appending, removing, slicing, and modifying elements.
- Example: __my_list = [1, 'apple', True, 3.14]__

### 3. Tuple:

* A tuple is an ordered and immutable collection of elements enclosed within parentheses ( ).
* Tuples can contain elements of different data types and allow duplicates.
* They are similar to lists but cannot be changed once created (immutable).
* Example: **my_tuple = (1, 'banana', False, 2.71)**
### 4. Set:

- A set is an unordered and mutable collection of unique elements enclosed within curly braces { }.
- Sets do not allow duplicate elements and automatically eliminate them.
- They support set operations like union, intersection, difference, and more.
- Example: __my_set = {1, 2, 3, 4}__

### Key Differences:

- Strings are sequences of characters and are immutable.
- Lists are ordered, mutable, and can contain duplicates.
- Tuples are ordered but immutable; they can contain duplicates.
- Sets are unordered, mutable, and contain only unique elements; they don't maintain order and do not allow duplicates.